@import "src/scss/variables";
@import "src/scss/mixins";

.section {

  &-header {
    height: 40px;
    line-height: 40px;
    background-color: $bg-color-section;
    padding-left: 15px;
    border-top: solid 1px $border-color-grey;
    border-bottom: solid 1px $border-color-grey;
    font-weight: 700;
    text-align: left;
    color: $text-color-green;
  }

  &-input {
    display: inline-block;
    padding: 15px 0 0 15px;
    text-align: left;
    width: 100%;

    .section.half & {
      width: 50%;
      float: left;

      @include mobile-large {
        width: 100%;
        float: none;
      }
    }

    &-container {
      overflow: hidden;
      padding-right: 15px;
    }
  }
}
