@import "src/scss/mixins.scss";
@import "src/scss/fonts";
@import "src/scss/variables";

.content {
  width: 100%;
  max-width: $mobile-large;
  margin: 100px auto 0;
  text-align: center;
}


@include mobile-large {

  .content {
    margin: 0;
  }
}
