<div class="content-container">

  <div class="data-title">Please choose data source</div>

  <div class="data-choice-row">

    <input class="data-choice-radio"
           id="data-local"
           type="radio"
           value="local"
           name="data-choice"
           [(ngModel)]="dataChoice">

    <label for="data-local"
           class="data-choice-text">
      Load local data from data.json
    </label>

  </div>

  <div class="data-choice-row">

    <input class="data-choice-radio"
           type="radio"
           value="url"
           name="data-choice"
           [(ngModel)]="dataChoice">

    <input class="input"
           type="text"
           name="url"
           placeholder="Provide url to download"
           [disabled]="dataChoice !== 'url'"
           [(ngModel)]="urlString">

  </div>

  <div class="data-choice-row">

    <button class="btn"
            (click)="loadData()"
            [disabled]="isButtonDisabled()">
      Load
    </button>

  </div>

</div>


