*,
*:before,
:after {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  position: relative;
  min-height: 100vh;
  font-family: "open-sans", sans-serif, Arial;
  margin: 0;
}

.input {
  vertical-align: middle;
  padding-left: 15px;
  width: 225px;
  height: 45px;
  border: solid 1px $border-color-input;
  border-radius: 3px;
  font-family: "open-sans-light", sans-serif, Arial;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &.required {

    &.ng-touched {

      &.ng-valid {
        border-left: 3px solid $border-color-valid;
      }

      &.ng-invalid {
        border-left: 3px solid $border-color-error;
      }
    }
  }

}

.btn {
  width: 150px;
  height: 35px;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.18);
  background-color: $bg-color-btn;
  color: $text-color-white;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    background-color: $bg-color-btn-disabled;
  }
}

.clearfix {

  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}
